<div class="text-center">
        <p style="color: white;">Are you sure you want to <span style="color: red;">DELETE</span> your budget?</p>
        <button class="btn btn-light">Yes</button>
        <button class="btn btn-light">No</button>
</div>

<script type="module" src="/js/utils/resetBudget.js"></script>