<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <div class="container-fluid d-flex nav-border shadow-5-strong justify-content">
    <a class="navbar-brand" href="/">
        <span class="logo-text">
                <i class="fas fa-dollar-sign logo"></i>
        </span>
        
    </a>
    {{#with user}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-list">
        <li>
            <p class="display-6">{{username}}</p>
        </li>
        <li>
            <p class="display-6">{{balance}}</p>
        </li>
        <li>
          <button id="addBudgetButton" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#budgetModal">Create a Budget</button>
        </li>
        <li>
            <button id="addTransactionButton" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Transaction</button>
        </li>
      </ul>
    </div>
    {{/with}}
  </div>
</nav>

<div class="row">
  <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center header-color">
        <h1>Your Budgets</h1>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="container">
  {{#each budgets}}
    {{> budgetCard}}
  {{/each}}
</div>



<!-- Modal -->
<div class="modal fade in" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              <form class="text-center" id="transaction-form" action="" method="post">
                <label for="transaction-type">Select type</label>
                <select id="transaction-type" class="form-select" aria-label="Select type" name="transaction-type">
                  <option value="withdraw">Withdraw</option>
                  <option value="deposit">Deposit</option>
                </select>

                <label for="transaction-category">Select category</label>
                <select id="category-select" class="form-select" aria-label="Select category" name="transaction-category">
                  <option value="" disabled selected >Please select a category...</option>
                  <option value="housing">Housing</option>
                  <option value="transportation">Transportation</option>
                  <option value="food">Food</option>
                  <option value="utilities">Utilities</option>
                  <option value="clothing">Clothing</option>
                  <option value="healthcare">Healthcare</option>
                  <option value="insurance">Insurance</option>
                  <option value="household-items">Household Items</option>
                  <option value="personal">Personal</option>
                  <option value="debt">Debt</option>
                  <option value="savings">Savings</option>
                  <option value="education">Education</option>
                  <option value="gifts">Gifts</option>
                  <option value="entertainment">Entertainment</option>
                </select>

                <label id="expense-label" for="transaction-expense" class="hidden" >Select expense</label>
                <select id="transaction-category-housing" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-housing">
                  <option value="mortgage">Mortgage</option>
                  <option value="rent">Rent</option>
                  <option value="household-repairs">Household Repairs</option>
                  <option value="property-taxes">Property Taxes</option>
                </select>

                <select id="transaction-category-transportation" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-transportation">
                  <option value="car-payment">Car Payment</option>
                  <option value="car-warranty">Car Warranty</option>
                  <option value="gas">Gas</option>
                  <option value="maintenance">Maintenance</option>
                  <option value="tyres">Tyres</option>
                  <option value="parking-fees">Parking Fees/Tickets</option>
                  <option value="repeairs">Repairs</option>
                </select>

                <select id="transaction-category-food" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-food">
                  <option value="groceries">Groceries</option>
                  <option value="restaurants">Restaurants</option>
                  <option value="pet-food">Pet Food</option>
                </select>

                <select id="transaction-category-utilities" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-utilities">
                  <option value="electricity">Electricity</option>
                  <option value="water">Water</option>
                  <option value="garbage">Garbage</option>
                  <option value="garbage">Phones</option>
                  <option value="garbage">Cable</option>
                  <option value="garbage">Internet</option>
                </select>

                <select id="transaction-category-clothing" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-clothing">
                  <option value="adult-clothing">Adults' Clothing</option>
                  <option value="adult-shoes">Adults' Shoes</option>
                  <option value="children-clothing">Children's Clothing</option>
                  <option value="children-shoes">Children's Shoes</option>
                </select>

                <select id="transaction-category-healthcare" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-healthcare">
                  <option value="primary-care">Primary Care</option>
                  <option value="dental-care">Dental Care</option>
                  <option value="specialty-care">Specialty Care (dermatologists, orthodontics, etc.)</option>
                  <option value="urgent-care">Urgent Care</option>
                  <option value="medications">Medications</option>
                  <option value="medical-devices">Medical Devices</option>
                </select>

                <select id="transaction-category-insurance" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-insurance">
                  <option value="health-insurance">Health Insurance</option>
                  <option value="home-warranty">Home warranty / Protection Plan</option>
                  <option value="auto-insurance">Auto Insurance</option>
                  <option value="life-insurance">Life Insurance</option>
                  <option value="disability-insurance">Disability Insurance</option>
                </select>

                <select id="transaction-category-household-items" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-household-items">
                  <option value="toiletries">Toiletries</option>
                  <option value="laundry-detergent">Laundry Detergent</option>
                  <option value="dishwasher-detergent">Dishwasher Detegent</option>
                  <option value="cleaning-supplies">Cleaning Supplies</option>
                  <option value="tools">Tools</option>
                </select>

                <select id="transaction-category-personal" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-personal">
                  <option value="gym-memberships">Gym Memberships</option>
                  <option value="haircuts">Haircuts</option>
                  <option value="salon-services">Salon Services</option>
                  <option value="cosmetics">Cosmetics</option>
                  <option value="babysitter">Babysitter</option>
                </select>

                <select id="transaction-category-debt" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-debt">
                  <option value="personal-loans">Personal Loans</option>
                  <option value="student-loans">Student Loans</option>
                  <option value="credit-cards">Credit Cards</option>
                </select>

                <select id="transaction-category-savings" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-savings">
                  <option value="emergency-fund">Emergency Fund</option>
                  <option value="investments">Investments</option>
                  <option value="big-purchases">Big Purchases</option>
                  <option value="other-savings">Other Savings</option>
                </select>

                <select id="transaction-category-education" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-education">
                  <option value="children-university">Children's University</option>
                  <option value="your-university">Your University</option>
                  <option value="school-supplies">School Supplies</option>
                  <option value="Books">Books</option>
                  <option value="side-courses">Side Courses</option>
                </select>

                <select id="transaction-category-gifts" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-gifts">
                  <option value="birthday">Birthday</option>
                  <option value="anniversary">Anniversary</option>
                  <option value="wedding">Wedding</option>
                  <option value="christmas">Christmas</option>
                  <option value="special-occasion">Special Occasion</option>
                  <option value="charities">Charities</option>
                </select>

                <select id="transaction-category-entertainment" class="form-select hidden expense" aria-label="Select category" name="transaction-expense-entertainment">
                  <option value="alcohol">Alcohol / Bars</option>
                  <option value="games">Games</option>
                  <option value="movies">Movies</option>
                  <option value="vacations">Vacations</option>
                  <option value="concerts">Concerts</option>
                  <option value="subscriptions">Subscriptions (Amazon, Netflix, etc.)</option>
                </select>

                <label for="transaction-date">Select date</label>
                <input class="form-select" type="date" name="transaction-date" value="">
                <label for="transaction-amount">Enter amount</label>
                <input id="balance" class="form-control" type="text" name="transaction-amount" value="" placeholder="Enter amount"> 
                <br>
                {{#if transactionError}}
                  <div id="errorMessage" class="alert alert-danger" role="alert">
                    Please fill out all the fields.
                  </div>
                {{/if}}
                <br>
                <button id="saveButton" type="submit" class="btn btn-success">Save</button>
            </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade in" id="budgetModal" tabindex="-1" aria-labelledby="budgetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="budgetModalLabel">Create New Budget</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              <form class="text-center" id="budget-form" action="" method="post">
                <label for="budget-category">Select category</label>
                <select id="category-select" class="form-select" aria-label="Select category" name="budget-category">
                  <option value="" disabled selected >Please select a category...</option>
                  <option value="housing">Housing</option>
                  <option value="transportation">Transportation</option>
                  <option value="food">Food</option>
                  <option value="utilities">Utilities</option>
                  <option value="clothing">Clothing</option>
                  <option value="healthcare">Healthcare</option>
                  <option value="insurance">Insurance</option>
                  <option value="household-items">Household Items</option>
                  <option value="personal">Personal</option>
                  <option value="debt">Debt</option>
                  <option value="savings">Savings</option>
                  <option value="education">Education</option>
                  <option value="gifts">Gifts</option>
                  <option value="entertainment">Entertainment</option>
                </select>

                <label for="budget-maxvalue">Max Amount</label>
                <input id="budget-maxvalue" class="form-control" placeholder="Enter your budget max value.." name="budget-maxvalue" value="">
                </input>
                <br>
                <br>
                <button id="createBudgetButton" type="submit" class="btn btn-primary">Create</button>

                {{#if budgetError}}
                  <div id="budgetErrorMessage" class="alert alert-danger" role="alert">
                    Please fill out all the fields.
                  </div>
                {{/if}}
            </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/transaction-form/popUpForm.js"></script>
<script src="/js/utils/balanceFieldCorrector.js"></script>
<script src="/js/utils/progressBarUpdater.js"></script>