{{#with user}}
<nav class="nav">
    <span class="hello">Your current balance is: {{balance}}</span>
    <span id="user" class="hello a" >
        <div class="dropdown">
  <span  class=""><i class="fas fa-user-circle"></i> {{username}}!</span>
  <div id="myDropdown" class="dropdown-content hidden">
    <a href="/logout">Logout</a>
  </div>
    </div>
    </span>

</nav>
{{/with}}


<script src="/js/dropdownMenu.js"></script>