{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body> --}}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h1>Expense Tracker</h1>
        </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="row">
        <div class="col-xs-3 col-md-4 col-lg-4 col-sm-4"></div>

        <div class="col-xs-6 col-md-4 col-lg-4  col-sm-4 d-flex justify-content-center border px-5 py-5 align-middle">
            <form action="" method="post">
                <label for="username">Username</label>
                <input type="text" class="form-control" placeholder="Enter username..." name="username" required>

                <label for="password">Password</label>
                <input type="text" class="form-control" placeholder="Enter password..." name="password" required>

                <label>
                    <input type="checkbox"  checked="checked" name="remember">Remember Me
                </label>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
                <hr>
                Don't have an account?
                <a href="/register">Click here</a>

            </form>
        </div>

        <div class="col-xs-3 col-md-4 col-lg-4 col-sm-4"></div>
    </div>

{{!-- </body>
</html> --}}