    <div class="row">
        <br>
        <br>
        <br>
    </div>
    <div class="row ptb-4">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h1 style="color: white;">Emil's Expense Tracker</h1>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-xs-3 col-md-4 col-lg-4 col-sm-5"></div>

        <div class="col-xs-6 col-md-4 col-lg-4  col-sm-2 d-flex justify-content-center pt-3 px-4 py-4 align-middle bright">
            <form class="no-glow" action="" method="post">
                <label for="username" class="">Username</label>
                <input type="text"  class="form-control" placeholder="Enter username..." name="username" required>

                <label for="password" class="">Password</label>
                <input type="password" class="form-control" placeholder="Enter password..." name="password" required>

                <label for="password" class="">Repeat Password</label>
                <input type="password" class="form-control" placeholder="Enter password..." name="repeatPassword" required>

                <label for="balance" class="">Balance</label>
                <input id="balance" type="text" onkeypress="return event.charCode != 32" class="form-control" placeholder="Enter balance..." name="balance" required>

                <br>
                <button type="submit" class="btn btn-primary">Register</button>
                <hr>
                Already have an account?
                <a href="/login">Login</a>

            </form>
        </div>
        <div class="col-xs-3 col-md-4 col-lg-4 col-sm-5"></div>
    </div>

    {{#if errorMessage}}
    <div class="row ptb-4">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 d-flex justify-content-center">
            
            <p class="errorMessage">{{errorMessage}}</p>
            
        </div>
        <div class="col-lg-3"></div>
    </div>
    {{/if}}


<script src="/js/helpers/balanceFieldCorrector.js"></script>